@model MvcApplication.ViewModels.TransportadorasViewModel

<div class="editor-label">
    Descrição:
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Descricao)
    @Html.ValidationMessageFor(model => model.Descricao)
</div>

